* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.App {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 0 5px 0;
}

.Header {
  color: #443e3e;
  font-size: 4rem;
  text-align: center;
  text-shadow: 1px 1px 5px #fff;
  margin-bottom: 6rem;
}

.App .line {
  margin: 20px 0 30px 0;
  widows: 30%;
  border: 1px solid rgba(255, 215, 0, 0.5);
}
/* write your parent styles in here for your App.js */
